h1{
    font-size: 30px;
    font-family: 'UnifrakturCook', cursive;
    color: white;
    text-align: center;
}
body{

    background-image: url(Images/Fantasy/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


button{

    margin: auto;
    display: inline-block;
    margin-top: 2em;
}
.plateau{

    margin: auto;
    height: 600px;
    width: 700px;
    border: 2px solid black;
}
.container{
    max-width: 45.5em;
    margin: auto;
    padding-top: 2em;
    text-align: center;
    margin-bottom: 2em;
}
#carte{

    background-size: cover;
    width: 24.5%;
    height: 32.7%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;	
}
.carte:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.carte{

   /* background-image: url(Images/carte.jpg) ;*/
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display:inline-block;
}
.ligne{

    width: 10.5em;
    height: 12em;
    display: inline-block;
}


@media screen and (max-width: 400px) {

    .ligne{

        width: 5em;
        height: 6em;
    }

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    display: inline;
    background-color: transparent;
}
.null{

    background-image: url(Images/Fantasy/carte.jpg);
    background-size: cover;
    width: 20%;
    height: 30%;
}
#v-pills-tab{
    display: inline-block;
}
#bip{
    color: white;
    border: 2px solid white;
    width: 12em;
    height: 2em;
    margin: auto;
    text-align: center;
}
.bot{

    width: 18em;
    float:right;
    margin-top: 2em;
}
#score{

    float: right;
    border: solid 2px white;
    display: inline-block;
    width: 20em;
    height: 40em;
}

@media screen and (max-width: 500px) {
    #score{
        float: none;
        display: block;
        margin: auto;    
    }
}

p{
    color: white;
    font-family: 'Carter One', cursive;
}

a{
    color: white;
    font-family: 'UnifrakturCook', cursive;
}

audio{
    width: 12em;
    margin-top: 2em;
}

/*CSS Poudlard.HTML (Le CSS entre les pages est le même utilisé, ici seules les modifications nécessaires sont faîtes.)*/

.poudlard_body{

    background-image: url(Images/Poudlard/background_poudlard.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.medieval_body{

    background-image: url(Images/Medieval/background_medieval.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .carousel-inner{

    width: 100%;
    height: 10%;
    border-color:white;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
   
  }

  .carousel-caption{

    margin-bottom: 50vh;
}

  @media screen and (max-width: 640px) {
  .carousel-inner{
      
    height: 20em;
  
      
  }

  .carousel-caption{
    margin-bottom: 0vh;
}

.d-none{
    display: inline!important;

}

  .w-100{

    width: 150%!important;
  }



}

  .col-md-7{

    margin: auto;
  }

  #column_text{
   
background-color: rgba(255, 255, 255, 0.301);

}
.bd-placeholder-img {

    border: 2px solid white;
}


h2{

    font-family: 'Carter One', cursive;

}

.main{

    margin-top: 10em;
}


.logo{

    width: 2em;
    margin-right: 1em;
}