h1{
    font-size: 30px;
    text-align: center;
    font-family:'Carter One', cursive;
    color: white;
}

body{

    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.plateau{

    margin: auto;
    height: 600px;
    width: 700px;
    border: 2px solid black;
}

#carte{

    background-size: cover;
    width: 24.5%;
    height: 32.7%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}

.carte:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.carte{

    background-size: cover;
    width: 24.5%;
    height: 32.7%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display:inline-block;
}





.null{

    background-image: url(Images/carte.jpg);
    background-size: cover;
    width: 20%;
    height: 30%;
}



